<!DOCTYPE html>
<html class="light" lang="en">
  <head>
    {% load static %} 
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using create-react-app" />
    <link rel="apple-touch-icon" href="static/logo192.png" />
    <link rel="manifest" href="/manifest.json" /><title>ChatGPT</title><script defer="defer" src="/static/js/main.2e4ce9ba.js"></script>
    <link href="/static/css/main.d11246fa.css" rel="stylesheet" />
  </head>
  <body class="antialiased">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <div portal-container="">
      <span classname="pointer-events-none fixed inset-0 z-[60] mx-auto my-2 flex max-w-[560px] flex-col items-stretch justify-start md:pb-5" />
    </div>
  </body>
</html>
